:root {
    --bg-color: #202b3b;
    --primary-text: #f0f1f1;
    --secondary-text: #9399a2;
}

.weather-container {
    display: flex;
    justify-content: center;
    width: 70%;
    flex-wrap: wrap;
    margin: 5em auto;
}

.weather-details {
    flex-basis: 60%;
    font-family: 'Verdana';
    color: var(--primary-text);
}

.weather-details .city {
    text-align: left;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: bold;
    margin: auto;
}

.weather-details .chance-rain {
    color: var(--secondary-text);
    margin-bottom: 2em;
}

.weather-details .temperature {
    text-align: left;
    font-size: 5em;
    font-weight: bold;
}

.weather-icon {
    text-align: right;
    flex-basis: 40%;
}

.weather-icon img {
    width: 150px;
}

@media(max-width: 622px) {
    .weather-details .city {
        text-align: center;
    }
    .weather-details .chance-rain {
        text-align: center;
    }
    .weather-details .temperature {
        text-align: center;
    }
}