:root {
    --bg-color: #202b3b;
    --txt-color: #f0f1f1;
    --line-color: #f0f1f111;
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 90%;
    margin: 20px auto;
    box-sizing: border-box;

}
.navbar {
    display: flex;
    justify-content: stretch;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.navbar-title {
    display: flex;
    align-items: center;
    flex: 4;
}

.navbar-title h2 {
    margin: 0 10px;
}

.navbar-title img {
    border-radius: 0.5em;
    width: 50px;
}

.navbar-search {
    flex: 3;
    display: flex;
    justify-content: end;
    width: auto;
}

.input-col {
    flex: 1;
    display: block;
    position: relative;
}


.navbar-search input {
    background-color: #00000000;
    background-color: var(--bg-color);
    outline: none;
    border: 0px solid #FFFFFF88;
    color: var(--txt-color);
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1.1em;
    margin: 0 0px;
    width: 100%;
}

.navbar button {
    width: 40px;
    height: 40px;
    background-color: #00000000;
    border-radius: 50%;
    border: 2px solid #0095ff;
    color: #0095ff;
    font-size: 1.2em;
    float: right;
    margin-left: 10px;
}

.navbar button:hover {
    background-color: #0095ff;
    color: var(--bg-color);
}

.suggestion-box {
    margin-top: 10px;
    position: absolute;
    width: 100%;
    height: auto;
    max-height: 200px;
    padding: 0.75em;
    background-color: var(--bg-color);
    border-radius: 10px;
    transition: .3s ease;
    overflow-x: hidden;

    ul {
        list-style-type: none;
        margin: 0;
    }

    ul li {
        font-size: 1.1em;
        padding: 0.5em 0.6em;
        border-radius: 0.4em;
        cursor: pointer;
    }

    ul li:hover {
        background-color: var(--line-color);
    }
}

@media screen and (max-width: 590px) {

    .navbar {
        flex-direction: column;
    }

    .navbar-title {
        margin-bottom: 20px;
    }

    .suggestion-box {
        z-index: 10;
        background-color: #202b3bCC;
        backdrop-filter: blur(10px);
    }
}